rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId}/exercise_images/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /users/{userId}/meal_images/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
